body {
	margin: auto;
	font-family: 'Handlee', cursive;
	width: 500px;
	height: 600px;
}

.header {
	width: 100%;
	height: 20%;
	position: relative;
}

.title {
	position: absolute;
	width: 40%;
	height: 35%;
	top: 40px;
}

h1 {
	margin: auto;
}

.logo4geeks {
	position: absolute;
	width: 20%;
	height: 85%;
	right: 5px;
	top: 5px;
	text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.body {
	width: 100%;
	height: 30%;
	position: relative;
	font-size: larger;
}

.content {
	width: 50%;
	height: 100%;
	position: absolute;
}

.paragraph {
	margin: 0 0 15px 0;
}

.data {
	width: 50%;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
}

input {
	border: 0;
    outline: 0;
    border-bottom: 2px solid grey;
}

.textBox {
	font-family: 'Handlee', cursive;
	font-size: larger;
	width: 100%;
	height: 15%;
	color: grey;
	margin: 0 0 15px 0;
}

.sendPostcard-btn {
    padding: 6px;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	color: black;
	background: rgba(128, 128, 128, 0.664);
	border: 1px solid;
	border-color: #aaa #aaa #000 #aaa;
}

a.sendPostcard-btn {
	margin-left: 200px;
	margin-right: auto;
}

.message {
	width: 300px;
	font-size: x-large;
}